@mixin user-page-theme($theme) {
    $color: mat-get-color-config($theme);
    $typography: mat-get-typography-config($theme);
  
    @if $color !=null {
      @include user-color($color);
    }
  
    @if $typography !=null {
      @include user-typography($typography);
    }
  }
  
  @mixin user-color($color-theme) {
    $config: mat-get-color-config($color-theme);
    $primary: map-get($config, primary);
    $background: map-get($config, background);
    $card-bg: map-get($background, card);
    $pg-bg: map-get($background, background);
    .login-field{
      background: $card-bg;
    }
    .login-register-bg{
      background-color: $pg-bg;
    }
  }
  
  @mixin user-typography($config-or-theme) {

  }
  