@mixin space-theme($theme) {
  $color: mat-get-color-config($theme);
  $typography: mat-get-typography-config($theme);

  @if $color !=null {
    @include space-color($color);
  }

  @if $typography !=null {
    @include space-typography($typography);
  }
}

@mixin space-color($color-theme) {
  $config: mat-get-color-config($color-theme);
  $primary: map-get($config, primary);
  $foreground: map-get($config, foreground);
  $divider-color: map-get($foreground, divider);

  .space-menu-toggle {
    color: mat-color($primary, default-contrast);
  }

  .space-side-nav {
    background-color: mat-color($primary, 900);
  }

  .settings-content {
    border:  solid 1px $divider-color;
  }
}

@mixin space-typography($config-or-theme) {
  .space-menu-toggle {
    margin-right: 1em;
  }
}
