:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.page-container {
  flex: 1;
}

.space-side-nav {
  height: 100%;
}

.space-side-nav-li {
  outline: none;
  cursor: pointer;
}

.space-content-wrapper {
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.space-content-card {
  min-height: 100%;
  box-sizing: border-box;
}
