<mat-toolbar color="primary">
    <div class="menu-logo">
        <button mat-icon-button class="space-menu-toggle" aria-label="toggle side navigation" (click)="toggleSideNav()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>zlyt</span>
    </div>
    <div class="blank-space"></div>
    <div class="user-status">
        <app-user-status></app-user-status>
    </div>
</mat-toolbar>
<mat-sidenav-container class="page-container" [hasBackdrop]="false">
    <mat-sidenav mode="side" [(opened)]="openSideNav">
        <div class="space-side-nav">
            <mat-list>
                <mat-list-item class="space-side-nav-li" [routerLink]="'/space/settings'">
                    <mat-icon matTooltip="设置" [matTooltipPosition]="'right'" mat-list-icon>settings</mat-icon>
                </mat-list-item>
                <mat-list-item class="space-side-nav-li" [routerLink]="'/space/instances'">
                    <mat-icon matTooltip="示例清单" [matTooltipPosition]="'right'" mat-list-icon>insert_drive_file
                    </mat-icon>
                </mat-list-item>
            </mat-list>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="space-content-wrapper">
            <mat-card class="space-content-card">
                <router-outlet></router-outlet>
            </mat-card>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>