@import "../components/code-playboard/code-playboard.theme.scss";
@import "../components/web-preview/web-preview.theme.scss";
@import "./space/space.scss";
@import "./user/user.scss";
@import "./editor/editor-page.scss";
//@import '~@angular/material/theming';

@mixin custom-theme($theme) {
  @include base-color($theme);
  @include angular-material-theme($theme);
  @include code-playboard-theme($theme);
  @include web-preview-theme($theme);
  @include space-theme($theme);
  @include user-page-theme($theme);
  @include editor-page-theme($theme);
}


@mixin base-color($theme) {
  $color: mat-get-color-config($theme);

  @if $color !=null {
    @include text-base-color($color);
    @include a-link-color($color)
  }
}

@mixin text-base-color($color-theme) {
  $config: mat-get-color-config($color-theme);
  $foreground: map-get($config, foreground);
  $textColor: map-get($foreground, text);

  app-root {
    color: $textColor;
  }
}

@mixin a-link-color($color-theme) {
  $config: mat-get-color-config($color-theme);
  $accent: map-get($config, accent);

  .a-link {
    color: mat-color($accent, A400);
  }
}
