<div class="meta-info">
    <form [formGroup]="metaForm">
        <mat-form-field [appearance]="'standard'">
            <mat-label>示例编号</mat-label>
            <input matInput  [formControl]="demoId" required>
        </mat-form-field>
        <mat-form-field [appearance]="'standard'">
            <mat-label>示例名称</mat-label>
            <input matInput placeholder="请输入示例名称..." [formControl]="name" required>
            <mat-error *ngIf="name.invalid">{{getNameErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field [appearance]="'standard'">
            <mat-label>示例描述</mat-label>
            <textarea matInput placeholder="请输入示例描述信息..." [formControl]="description" cdkTextareaAutosize
                [cdkAutosizeMinRows]="2" [cdkAutosizeMaxRows]="6"></textarea>
        </mat-form-field>
    </form>
</div>